.eventWrapper {
 width: 100%;
 height: 100%;
 font-size: 1.3em;
 .projectHead {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 5%;
  margin: -2% 0 1% 0;
  .projectStatus {
   display: flex;
   align-items: center;
   gap: 10%;
   color: #1890ff;
  }
 }
 .projectTop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: min-content;
  .imgAside {
   /*@media screen and (max-width: 1000px) {
    margin-top: 3%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2%;
   }*/
   max-width: fit-content;
   padding-left: 1%;
   display: flex;
   flex: 2 1 50%;
   flex-direction: column;
   align-items: flex-start;
   padding-right: 10%;
   row-gap: 10px;
   .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    font-size: 1em;
    .text {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
    }
   }
   .directions {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    .direction {
     color: #1890ff;
     border-color: #1890ff;
     display: flex;
     justify-content: space-around;
     gap: 10px;
     align-items: center;
     padding: 20px;
     font-size: 1em;
    }
   }

   .places {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   }
   .tags {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 10px;
    .tag {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px 20px;
     font-size: 1em;
    }
   }
  }
 }
 .projectBottom {
  h3:first-of-type {
   margin-top: 20px;
  }
  .materials {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;
  }
 }
}
