.parentContainer {
	.contentContainer {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 1500px;
		align-items: center;
		padding: 15px;
		gap: 20%;

		.imageContainer {
			img {
				width: 40vw;
			}
		}

		.textContainer {
			height: 100%;
			display: grid;

			h1 {
				font-family: 'Rubik';
				font-weight: 700;
				font-size: 32px;
				margin: 0;
				line-height: 1.4;
			}
		}
	}
}
