.profileWrapper {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 .userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;

  .cardTitle {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex-grow: 2;
   }
   .status {
    max-width: 40%;
    padding: 0;
    height: 50%;
    overflow: hidden;
    .statusBarHeader {
     font-size: 1.1em;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .statusBar {
     width: 90%;
     padding: 0;
     margin: 0;
    }
   }
  }
  .avatarBig {
  }
  .bottomStats {
  }
 }
 .statsWrapper {
  padding: 2% 5%;
  .tableWrapper {
   margin-top: 5%;
   .tableHeader {
    font-size: 1.6em;
   }
  }
 }
}
