.profileWrapper {
 width: 100%;
 border: 1px solid red;
 display: flex;
 justify-content: center;
 align-items: center;
 .userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  .cardTitle {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   max-height: 20%;
   .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex-grow: 2;
   }
   .status {
    max-width: 50%;
    padding: 0;
    height: 50%;
    overflow: hidden;
    .statusBarHeader {
     font-size: 1.1em;
     font-weight: 600;
    }
    .statusBar {
     width: 90%;
     padding: 0;
     margin: 0;
    }
   }
  }
  .avatarBig {
   border: 15px solid green;
  }
  .bottomStats {
  }
 }
 .statsWrapper {
  border: 1px solid green;
 }
}
