.shopWrapper {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
}
.cardWrapper {
 flex: 1 1 20%;
 min-width: 200px;
 max-width: 300px;
 .price {
  display: flex;
  justify-content: center;
  width: 80%;
  position: absolute;
  bottom: 12%;
  color: black;

  font-size: 1.2em;
 }
}
