.shopWrapper {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;

 .action {
  font-size: 1.5em;
 }
}

.cardWrapper {
 flex: 1 1 20%;
 min-width: 200px;
 max-width: 300px;
 .meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .price {
   color: black;
   font-size: 1.2em;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 5% 0;
  }
 }
}
